<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>
		<%= title %>
	</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- admin -->
	<link rel="stylesheet" href="/css/admin.css">
	<!-- estilos grid.js -->

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>


	<!-- menu start -->
	<%- include ('partials/navigations.html') %>


		<!-- Título -->

		<div class="hero-area hero-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 offset-lg-2 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<h1> Panel de Admin </h1>
								<div class="hero-btns">
									<a onClick="productos()" class="boxed-btn">Productos</a>
									<a onClick="consultas()" class="boxed-btn">Consultas</a>
									<a onClick="correos()" class="boxed-btn">Correos</a>
									<a onClick="noticias2()" class="boxed-btn">Noticias</a>
									<a onClick="admin()" class="boxed-btn">Administradores</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Agregar Productos -->

		<section class="productos" id="productos">
			<div class="contact-from-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mb-5 mb-lg-0">
							<div class="Cuadro">
								<div id="form_status"></div>
								<div class="textoProductos">
									<form method="post" id="fruitkha-contact" action="">
										<h1>Agregar un nuevo producto</h1>
										<p><input type="text" placeholder="Producto" name="producto" id="producto"
												required></p>
										<p> <input type="text" placeholder="Imagen (Link)" name="imagen" id="imagen"
												required></p>
										<p><input type="number" placeholder="Precio" name="precio" id="precio" required>
										</p>
										<p><textarea name="description" id="description" cols="15" rows="5"
												placeholder="Descripcion" required></textarea></p>
										<input type="hidden" name="token" value="FsWga4&@f6aw" />
										<p><input type="submit" value="Enviar"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Lista de Productos y eliminar -->
			<div class="table-responsive">
				<div class="Consultas">
					<table class="table table-striped table" bgcolor="white" height="150px" width="150px" align="center"
						border="red">
						<tr style="color:white" align="center" id="Pintar">
							<td>Nombre </td>
							<td>Imagen </td>
							<td>Precio </td>
							<td>Descripcion </td>
							<td> </td>

						</tr>
						<%productosList.forEach(productos=> { %>
							<form action="/productos/editar/<%= productos.id %>" method="post">
								<tr>
									<td width="18%">
										<textarea id="editar" class="edicion" type="text" name="nombre"
											value="<%= productos.nombre %>" cols="1" rows="1"
											readonly="true"> <%= productos.nombre %> </textarea>
									</td>
									<td width="5%">
										<img src="<%= productos.img %>" alt="">
									</td>
									<td width="3%">
										<input id="editar" class="edicionNum" type="number" name="precio"
											value="<%= productos.precio %>" readonly="true">
									</td>
									<td style="overflow-wrap: anywhere;" width="64%">
										<textarea id="editar" class="edicion" type="textarea" name="descripcion"
											cols="30" rows="3" readonly="true"> <%= productos.descripcion %></textarea>
									</td>
									<td width="5%">

										<div style="display: flex; flex-direction:row;">
											<button type="submit" class="save" id="<%=productos.id %>" name="x">
												💾 </button>
							</form>
							<form action="/productos/eliminar/<%=productos.id%>" method="POST">
								<button type="submit" class="delete" onClick="borrar()" id="<%=productos.id %>"
									name="x">
									❌ </button>
							</form>

							<button class="edit" id="edit" name="x">
								✏️ </button>

							<button class="edit" id="cancelEdit" name="x" style="display:none;">
								⬅️ </button>

				</div>
				</td>
				</tr>
				<% })%>
					</table>

			</div>
			</div>

		</section>

		<!-- Consultas lista -->

		<section class="consultaBase" id="consultas">
			<div class="table-responsive">
				<div class="Consultas">
					<table class="table table-striped table" bgcolor="white" height="200px" width="150px" align="center"
						border="red">
						<tr style="color:white" align="center" id="Pintar">
							<td>Nombre </td>
							<td>Teléfono </td>
							<td>Email </td>
							<td>Asunto </td>
							<td>Texto </td>
							<td> </td>
						</tr>
						<%consultasList.forEach(consultas=> { %>
							<tr>
								<td width="10%">
									<input id="editar" class="edicion" type="text" name="nombre"
										value="<%= consultas.nombre %>" readonly="true">

								</td>
								<td width=10px>
									<%= consultas.telefono %>
								</td>
								<td width=24px>
									<%= consultas.email %>
								</td>
								<td>
									<%= consultas.asunto %>
								</td>
								<td style="overflow-wrap: anywhere;">
									<%= consultas.mensaje %>
								</td>
								<td width="10%">
									<form action="/consultas/eliminar/<%=consultas.id%>" method="POST">

										<button type="submit" class="delete2" onClick="borrar()" id="<%=consultas.id %>"
											name="x">
											❌ </button>
									</form>
								</td>
							</tr>
							<% })%>
					</table>

				</div>
			</div>
		</section>
		<!-- Lista de Correos -->
		<section class="correosDisplay" id="correosDisplay">
			<div class="table-responsive">
				<div class="corr">
					<table class="table table-striped table" bgcolor="white" height="200px" width="100px" align="center"
						border="red">
						<tr style="color:white" align="center" id="Pintar">
							<td>Correos </td>
							<td> Fecha añadida </td>
							<td> </td>
						</tr>
						<%correosList.forEach(correos=> { %>

							<tr>
								<td>
									<%= correos.correo %>
								</td>
								<td>
									<%= correos.createdAt%>
								</td>
								<td>
									<form action="/correos/eliminar/<%=correos.id%>" method="POST">

										<button type="submit" class="delete2" onClick="borrar()" id="<%=correos.id %>"
											name="x">
											❌ </button>
									</form>
								</td>
							</tr>
							<% })%>
					</table>

				</div>
			</div>
		</section>
		<!-- Agregar noticias -->
		<section class="productos" id="noticias">
			<div class="contact-from-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mb-5 mb-lg-0">
							<div class="Cuadro">
								<div id="form_status"></div>
								<div class="textoProductos">
									<form action="/admin/noticias" method="POST">
										<h1>Agregar una nueva noticia</h1>
										<p><input type="text" placeholder="Titulo" name="titulo" id="titulo" required>
										</p>
										<p> <input type="text" placeholder="Imagen (Link)" name="img" id="img" required>
										</p>
										<p><input type="text" placeholder="Autor" name="publicador" id="publicador"
												value="<%= usuario.nombreCompleto %>" required>
										</p>
										<p><input type="text" placeholder="Resumen" name="resumen" id="resumen"
												required>
										</p>
										<p><textarea name="texto" id="texto" cols="15" rows="5" placeholder="Noticia"
												required></textarea></p>

										<input type="hidden" name="token" value="FsWga4&@f6aw" />
										<p><input type="submit" value="Agregar"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Lista de noticias -->
			<div class="table-responsive">
				<div class="Consultas" id="consultas">
					<table class="table table-striped table" bgcolor="white" height="200px" width="150px" align="center"
						border="red">
						<tr style="color:white" align="center" id="Pintar">
							<td>Nombre </td>
							<td>Imagen </td>
							<td>Autor </td>
							<td>Descripcion </td>
							<td>Texto </td>
							<td> </td>

						</tr>
						<%noticiasList.forEach(noticias=> { %>
							<form action="/noticias/editar/<%= noticias.id %>" method="post">
								<tr>
									<td width="10%">
										<textarea id="editar" class="edicion" type="text" name="titulo"
											value="<%= noticias.titulo %>" cols="1" rows="1"
											readonly="true"> <%= noticias.titulo %></textarea>
									</td>
									<td width="5%">
										<img src="<%= noticias.img %>" alt="">
									</td>
									<td width="5%"">
									<textarea id="editar" class="edicion" type="text" name="publicador" value="<%= noticias.publicador %>"
										cols="1" rows="1" readonly="true">
										<%= noticias.publicador %> </textarea>
									</td>
									<td style="overflow-wrap: anywhere;" width="20%">
										<textarea id="editar" class="edicion" type="text" name="resumen"
											value="<%= noticias.resumen %>" cols="3" rows="5"
											readonly="true"> <%= noticias.resumen %></textarea>

									</td>
									<td style="overflow-wrap: anywhere;" width="20%">
										<textarea id="editar" class="edicion" type="text" name="texto"
											value="<%= noticias.texto %>" cols="3" rows="5"
											readonly="true"> <%= noticias.texto %></textarea>
									</td>
									<td width="5%">
										<div style="display: flex; flex-direction:row;">
											<button type="submit" class="save" id="<%=noticias.id %>" name="x">
												💾 </button>
										

							</form>
							<form action="/noticias/eliminar/<%=noticias.id%>" method="POST">

								<button type="submit" class="delete" onClick="borrar()" id="<%=noticias.id %>" name="x">
									❌ </button>
							</form>

							<button class="edit" id="edit" name="x">
								✏️ </button>
								<button class="edit" id="cancelEdit" name="x" style="display:none;">
									⬅️ </button>
							

				</div>
				</td>
				</tr>
				<% })%>
					</table>

			</div>
			</div>
		</section>

		<section id="admin">
			<div class="contact-from-section mt-150 mb-150">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 mb-5 mb-lg-0">
							<div class="Cuadro">
								<div id="form_status"></div>
								<div class="textoProductos">
									<form action="/admin/agregar" method="POST">
										<h1>Otorgar permisos de adminstrador</h1>
										<h4>Solo entrega este permiso a gente de confianza</h4>
										<p><input type="text" placeholder="Correo de la cuenta" name="correoNuevoAdmin"
												id="correoNuevoAdmin" required>
										</p>
										<input type="hidden" name="token" value="FsWga4&@f6aw" />
										<p><input type="submit" value="Agregar"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive" id="tablaAdmin" align="center">
				<div class="Admin">
					<table class="table table-striped table" bgcolor="white" height="50%" width="20%" align="center"
						border="red">
						<tr style="color:white" align="center" id="Pintar">
							<td>Nombre de usuario</td>
							<td>Correo</td>
							<td> </td>
						</tr>
						<%userAdmin.forEach(user=> { %>
							<%if(user.admin){ %>
								<tr>
									<td width="10%" align="center">
										<%= user.name %>
									</td>
									<td width="60%" align="center">
										<%= user.email %>
									</td>
									<td width="5%">
										<form action="/admin/eliminar/<%=user.id%>" method="POST">
											<button type="submit" class="delete2" onClick="borrar()" id="<%=user.id %>"
												name="x"> ❌</button>
										</form>
									</td>
								</tr>
								<% }%>
									<% })%>
					</table>

				</div>
			</div>
		</section>

		<!-- < !--footer -->
		<%- include ('partials/footer.html') %>
			<!--	< !--jquery -->
			<script src="/js/jquery-1.11.3.min.js"></script>
			<!-- bootstrap -->
			<script src="/bootstrap/js/bootstrap.min.js"></script>
			<!-- count down -->
			<script src="/js/jquery.countdown.js"></script>
			<!-- isotope -->
			<script src="/js/jquery.isotope-3.0.6.min.js"></script>
			<!-- waypoints -->
			<script src="/js/waypoints.js"></script>
			<!-- owl carousel -->
			<script src="/js/owl.carousel.min.js"></script>
			<!-- magnific popup -->
			<script src="/js/jquery.magnific-popup.min.js"></script>
			<!-- mean menu -->
			<script src="/js/jquery.meanmenu.min.js"></script>
			<!-- sticker js -->
			<script src="/js/sticker.js"></script>
			<!-- main js -->
			<script src="/js/main.js"></script>
			<!-- admin js -->
			<script src="/js/admin.js"></script>

</body>

</html>